<div class="mb-4 wall-light-selector">
  <label class="form-label me-4">Set holds: </label>
  <div class="btn-group" role="group">
    <input type="radio" class="btn-check" data-light-state="start" name="light-state" id="light-state-start" autocomplete="off" checked>
    <label class="btn btn-outline-success" for="light-state-start">Start</label>

    <input type="radio" class="btn-check" data-light-state="on" name="light-state" id="light-state-normal" autocomplete="off">
    <label class="btn btn-outline-info" for="light-state-normal">Hands</label>

    <input type="radio" class="btn-check" data-light-state="feet" name="light-state" id="light-state-feet" autocomplete="off">
    <label class="btn btn-outline-warning" for="light-state-feet">Feet</label>

    <input type="radio" class="btn-check" data-light-state="finish" name="light-state" id="light-state-finish" autocomplete="off">
    <label class="btn btn-outline-danger" for="light-state-finish">Finish</label>
  </div>
</div>
