<% (Wall::VERTICAL - 1).downto(0) do |y| %>
  <div class="row px-3">
    <% (Wall::HORIZONTAL).times do |x| %>
      <div class="col-1 px-0 wall-light-col">
        <span class="border wall-light-cell">
          <button type="submit" data-state="<%= Wall.get(x, y) %>" data-action="/toggle-light/<%= x %>/<%= y %>" data-key="<%= "#{x},#{y}" %>" class="wall-light btn">&nbsp;</button>
        </span>
      </div>
    <% end %>
  </div>
<% end %>
