<h1 class="text-center mb-4 pb-4">Lights</h1>

<%= erb :_light_grid %>

<div class="row mt-5">
  <div class="col-12 px-0">
    <form method="post" action="/set-brightness" class="mb-4 setBrightness">
      <div class="form-group">
        <label for="brightness">Brightness</label>
        <input type="range" name="brightness" min="0" max="<%= Wall::MAX_BRIGHTNESS %>" value="<%= Wall.brightness %>" class="form-control-range brightnessSlider">
      </div>
    </form>
  </div>
</div>

<div class="row mt-4">
  <form method="post" action = "/lights-off" class="pr-4">
    <input type="submit" class="btn btn-danger" value="All Off">
  </form>

  <form method="post" action = "/lights-on">
    <input type="submit" class="btn btn-primary" value="All On">
  </form>
</div>
