<div class="container">
  <% Wall::VERTICAL.downto(0) do |y| %>
    <div class="row">
      <% Wall::HORIZONTAL.times do |x| %>
        <span class="border">
        <form method="post" class="toggleLight" action="/toggle-light/<%= x %>/<%= y %>">
          <input type="submit" class="btn <%= Wall.button_css_for(x, y) %>" value="&nbsp;">
        </form>
        </span>
      <% end %>
    </div>
  <% end %>
</div>
