<% if Wall.powered_on %>

  <h1 class="text-center mb-4 pb-4">Lights</h1>

  <%= erb :_light_grid %>

  <div class="mt-5">
    <div class="col-12">
      <form method="post" action="/set-brightness" class="mb-4 form setBrightness">
          <label for="brightness" class="form-label">Brightness</label>
          <input type="range" name="brightness" min="0" max="<%= Wall::MAX_BRIGHTNESS %>" step="<%= Wall::MAX_BRIGHTNESS / 5 %>" value="<%= Wall.brightness %>" class="form-range brightnessSlider">
      </form>
    </div>
  </div>



  <div class="mt-4 mb-4">
    <div class="col">
      <form method="post" class="form-single-button" action="/lights-off">
        <input type="submit" class="btn btn-danger" value="All Off">
      </form>

      <form method="post" class="form-single-button" action="/lights-on">
        <input type="submit" class="btn btn-primary" value="All On">
      </form>
    </div>
  </div>
<% else %>
  <div class="mt-5">
    <div class="col mt-5">
      <form method="post" action="/toggle-power" class="align-items-center text-align-center">
        <div class="mx-auto text-center">
          <input type="submit" href="/routes" value="Power On" class="btn btn-success btn-xl">
        </div>
      </form>
    </div>
  </div>
<% end %>
