<div class="container-fluid">
  <% Wall::VERTICAL.times do |y| %>
    <div class="row">
      <% Wall::HORIZONTAL.times do |x| %>
        <span class="border">
        <form method="post" action="/toggle-light/<%= x %>/<%= y %>">
          <% if Wall.on?(x, y) %>
            <input type="submit" class="btn btn-primary" value="&nbsp;">
          <% else %>
            <input type="submit" class="btn btn-light" value="&nbsp;">
          <% end %>
        </form>
        </span>
      <% end %>
    </div>
  <% end %>
</div>
