<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8" />
  <title>Climbing Wall Lights</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/application.css">
</head>
<body>
  <div class="container-fluid px-0 mb-4">
    <nav class="navbar navbar-expand navbar-dark bg-primary">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/">Lights</a></li>
        <li class="nav-item"><a class="nav-link" href="/routes">Routes</a></li>
      </ul>
    </nav>
  </div>

  <div class="container">
    <%= yield %>
  </div>
  <script src="/application.js"></script>
</body>
</html>
