<h1 class="text-center mb-4 pb-4">Route Generator</h1>

<form method="post" action="/route-generator" class="form gameForm">
  <div class="form-group">
    <label for="starting-row">Starting row</label>
    <input type="number" name="starting-row" class="form-control" value="6">
  </div>

  <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Generate">
  </div>
</form>
