<a class="btn btn-success" href="/routes/new">New Route</a>

<ul>
<% routes.each do |route| %>
  <li class="route-difficulty-<%= route.difficulty || 'unknown' %>">
    <%= route.title %>
    <a href="/routes/<%= route.id %>/load" class="btn btn-primary">Load</a>
  </li>
<% end %>
</ul>
